.nav-logo {
  width: 120px!important;
  height: auto;
}
.photo {
  padding: 10px 10px 35px;
  box-shadow: 3px 3px 5px #aaa;
  border-radius: 7px;
  margin: 20px 0px;
  position: relative;
  height: 100%;
}
.photo-detail {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.photo-dimmer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-transition: opacity .2s visibility .2s;
  -moz-transition: opacity .2s visibility .2s;
  -ms-transition: opacity .2s visibility .2s;
  -o-transition: opacity .2s visibility .2s;
  transition: opacity .2s, visibility .2s;
}
.photo:hover .photo-dimmer {
  visibility: visible;
  opacity: 1;
}
.photo-tooltip {
  transition: .2s;
  transform: translateY(1em);
  color: #ddd;
}
.photo:hover .img__description {
  transform: translateY(0);
}
.photo-album {
  font-weight: bold;
  font-size: 15px;
  color: #aaa;
  margin: 0;
}
.photo-title {
  font-weight: normal;
  font-size: 12px;
  color: #aaa;
}
.photo-remove {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #ddd;
  cursor: pointer;
}
.ui.modal:not(.tiny):not(.small) {
  width: 70%!important;
  left: auto;
  margin: 1em auto;
}
@media only screen and (min-width: 1500px) {
  .ui.container {
    width: 1440px;
    margin-left: auto!important;
    margin-right: auto!important;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 576px) {
  .ui.menu {
    padding: 0px 40px
  }
}
